@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brand-name{
    display: flex;
    align-items: center;
}
.brand-name h1{
    padding-left: 6px;
    color: #292019
}
 ul {
    list-style-type: none;
}
 ul li{
    display: inline;
}
 ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #292019;    
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
 ul li a:hover{
    border-bottom: 2px solid #292019;
}
ul li a:active{
    border-bottom: 2px solid #292019;
}
.nav-icons img{
    padding-left: 15px;
}


.section-1{
margin-left: 90px;
margin-top: 50px;
}
.section-1 h1{
    margin: 0;
    font-size: 60px;
    color: #292019;
}
.section-1 p{
    width: 500px;
    text-align: justify;
    font-size: 18px;
    color: #72696A;
    line-height: 28px;
}
.section-1 button{
    padding: 18px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
}
.section-1 .btn1{
    color: #fff;
    background-color: #C4A586;
    border: none;
}
.section-1 .btn2{
    margin: 10px;
    color: #C4A586;
    background-color: #fff;
    border: 1px solid #C4A586;
}
.section-1 .content{
    display: flex;
    justify-content: space-around;
}
#image{
    background-image: url('./assets/logo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.section-2{
    margin-top: 100px;
}
.section-2 center{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #292019;
}
.section-2 .cmp-icons{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-2 .items{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.section-2 .items button{
    background: transparent;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 0.03em;
    font-size: 18px;
    margin-top: 70px;
}
.section-2 .items .item-1{
    background-color: #FCEFE9;
    width: 50%;
    padding: 22px;
}
.section-2 .items .item-2{
    width: 50%;
    background-color: #FAE2C8;
    padding: 22px;
}
.section-2 .items .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-2 .items  .row .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}